{% extends "admin/change_list.html" %}

{% block extrahead %}
  {{ block.super }}
  <script>
    function customAction(action, elementId) {
      const cusButtons = document.getElementsByClassName("button cusButton");
      for (var index = 0; index < cusButtons.length; index++) {
        cusButtons.item(index).disabled = true;
      }
      // 构建 URL，替换 'your_model' 和 'custom_action' 为实际的模型和方法
      if (action === "import") {
        const selectField = document.getElementById('importBatchCodeSelect');
        selectField.disabled = true;
        const selectIndex = selectField.options.selectedIndex;
        const selectValue = selectField.options[selectIndex].value;
        const url = `{% url 'admin:drf_oa_workflow_registerworkflowtype_changelist'  %}?${action}=true&type_id=${selectValue}`;
        window.location.href = url;
      } else {
        const url = `{% url 'admin:drf_oa_workflow_registerworkflowtype_changelist'  %}?${action}=true`;
        window.location.href = url;
      }
    }
  </script>
{% endblock extrahead %}
{% block object-tools %}
  {{ block.super }}
  <div>
    <select id="importBatchCodeSelect">
      <option selected="" value="">请选择OA流程目录</option>
      {% for v in oa_workflow_types %}
        <option {% if v.disabled %}disabled{% endif %} value="{{ v.ID }}">{{ v.ID }}-{{ v.TYPENAME }}</option>
      {% endfor %}
    </select>
    <button id="importButton"
            class="button cusButton"
            onclick="customAction('import', 'importButton')"
            disabled>导入目录</button>
    <button id="syncButton"
            class="button cusButton"
            onclick="customAction('sync', 'syncButton')">全部同步</button>
  </div>
  <script>
    var selectField = document.getElementById('importBatchCodeSelect');
    // 监听 input 输入事件
    selectField.addEventListener('change', function(event) {
      // 获取输入的值
      const selectIndex = event.target.options.selectedIndex;
      const selectValue = event.target.options[selectIndex].value;
      document.getElementById("importButton").disabled = !selectValue;
    });
  </script>
{% endblock object-tools %}
